@import 'normalize';

$toolbar-height: 56px;
$grey-100: #f5f5f5;
$grey-600: #757575;
$foreground-dark: rgba(0, 0, 0, .54);
$body-text-color: #37474f;
$primary: $body-text-color;
$blue-grey-800: #37474f;
$primary: #f57c00;
$secondary: #0288d1;

$flex-justify-content-values: ('flex-start', 'flex-end', 'center', 'space-between', 'space-around');
$flex-align-items-values: ('flex-start', 'flex-end', 'center', 'stretch', 'baseline');

$primary-font: 'Roboto', sans-serif;
$secondary-font: 'adobe-garamond-pro';
$code-font: 'Courier New', monospace;

// Variable used to provide shadows to controls like cards and menus
$shadow-multiplier: .7;
$shadow-key-umbra-opacity: $shadow-multiplier * .2;
$shadow-key-penumbra-opacity: $shadow-multiplier * .14;
$shadow-ambient-shadow-opacity: $shadow-multiplier * .12;

$box-shadow-penumbra-color: rgba(0, 0, 0, $shadow-key-penumbra-opacity);
$box-shadow-umbra-color: rgba(0, 0, 0, $shadow-key-umbra-opacity);
$box-shadow-ambient-color: rgba(0, 0, 0, $shadow-ambient-shadow-opacity);

$whiteframe-shadow-z1: 0 3px 1px -2px $box-shadow-umbra-color, 0 2px 2px 0 $box-shadow-penumbra-color, 0 1px 5px 0 $box-shadow-ambient-color !default;

// Body text
.body-text,
%body-text {
    @extend %primary-font-light;
    line-height: 1.4;
}

h1,
h2,
h3,
h4,
h5,
h6,
.body-text {
    color: $body-text-color;
}

.primary-font-thin,
%primary-font-thin {
    font-family: $primary-font;
    font-weight: 100;
}

.primary-font-thin-italic,
%primary-font-thin-italic {
    font-family: $primary-font;
    font-style: italic;
    font-weight: 100;
}

.primary-font-light,
%primary-font-light {
    font-family: $primary-font;
    font-weight: 300;
}

.primary-font-regular,
%primary-font-regular {
    font-family: $primary-font;
    font-weight: 400;
}

.primary-font-bold,
%primary-font-bold {
    font-family: $primary-font;
    font-weight: 700;
}


@mixin flex-options {
    &.flex-wrap {
        flex-wrap: wrap;
    }

    // CSS class options for justify-content
    @each $layout-val in $flex-justify-content-values {
        &.justify-content-#{$layout-val} {
            justify-content: #{$layout-val};
        }
    }

    // CSS class options for align-items
    @each $layout-val in $flex-align-items-values {
        &.align-items-#{$layout-val} {
            align-items: #{$layout-val};
        }
    }
}

.flex-row,
%flex-row {
    @include flex-options;
    display: flex;
}

.flex-column,
%flex-column {
    @include flex-options;
    display: flex;
    flex-direction: column;
}


body {
    background-color: $grey-100;
    display: flex;
    flex-direction: column;
}

.top-toolbar {
    height: $toolbar-height;
    position: fixed; // Set the navbar to fixed position
    top: 0; // Position the navbar at the top of the page
    width: 100vw; // Full width
}

main {
    -webkit-overflow-scrolling: touch;  // sass-lint:disable-line no-vendor-prefixes no-misspelled-properties
    margin-top: $toolbar-height;
    min-height: calc(100vh - #{$toolbar-height});
    overflow-x: auto;
}

.toolbar,
%toolbar {
    background-color: white;
    min-height: 56px;
    width: 100%;
}

.top-toolbar {
    @extend %toolbar;
    @extend %flex-row;
    align-items: center;
    box-shadow: 0 0 10px $foreground-dark;
    justify-content: space-between;
    min-height: $toolbar-height;
    position: relative;

    .menu-button,
    .toolbar-button,
    .toolbar-menu-toggle {
        color: $grey-600;

        i {
            color: $grey-600;
        }
    }

    .toolbar-button,
    .toolbar-menu-toggle {
        @extend %primary-font-light;
    }

    .toolbar-menu-toggle,
    .toolbar-menu-toggle > i {
        transition-duration: .5s;
    }

    .zb-menu {
        margin-left: 24px;
    }

    .logo {
        padding-left: 60px;
        padding-top: 8px;
        width: 135px;

        &.logo-menu-button-padding {
            padding-left: 8px;
        }
    }

    .left-buttons {
        @extend %flex-row;
        align-items: center;
    }

    .right-buttons {
        @extend %flex-row;
        align-items: center;
        padding-right: 16px;
    }

    .title {
        @extend %primary-font-light;
        margin-left: 8px;
    }
}

$zb-card-content-padding: 24px;

.zb-card {
    background-color: white;
    border-radius: 2px;
    box-shadow: $whiteframe-shadow-z1;
    box-sizing: border-box;

    &.loading-card {
        margin: 10% auto auto;
        width: 120px;

        .zb-card-content {
            padding-bottom: 8px;
            padding-top: 16px;
            position: relative;
        }

        .zb-progress-circular {
            margin: auto;
        }

        h2 {
            @extend %primary-font-regular;
            font-size: 16px;
            margin-bottom: 8px;
            margin-left: 0;
            margin-top: 8px;
        }
    }

    .zb-card-content {
        @extend %flex-column;
        padding: $zb-card-content-padding;

        > *:first-child {
            margin-top: 0;
        }

        > *:last-child {
            margin-bottom: 0;
        }
    }
}

.section-container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    max-width: 1200px;
}

.zybook-section {
    @extend %body-text;
    display: flex;
    flex-direction: column;

    h2 {
        @extend %primary-font-regular;
        font-size: 32px;
    }
}


@import 'section';
@import 'nav-menu';
@import 'question-sets';
