.multiple-choice-resource {

    border-left: 5px solid $primary;
    margin-bottom: 32px;
    margin-top: 32px;

    fieldset {
        border: none;

        label {
            margin-right: 16px;
        }
    }

    .correct {
        color: green;
        font-weight: bold;
    }

    .incorrect {
        color: red;
        font-weight: bold;
    }

    .question {
        margin-bottom: 8px;
    }

    .message {
        margin-top: 0;
        margin-bottom: 0;
    }

}