.multiple-choice-resource {

    border-left: 5px solid $primary;
    margin-bottom: 32px;
    margin-top: 32px;

    fieldset {
        border: none;

        label {
            margin-right: 16px;
        }
    }
}