<header class='top-toolbar'>
    <div class='left-buttons'>
        <div class='logo logo-menu-button-padding'>
            <img src='assets/logo.svg'/>
        </div>
        <div class='title'>
            authoring demo
        </div>
    </div>
</header>
<main>
    <section>
        <h2>Content</h2>
        <div class='style-guide-content'>
          Some content
        </div>
    </section>
</main>
