<header class='top-toolbar'>
    <div class='left-buttons'>
        <div class='logo logo-menu-button-padding'>
            <img src='/assets/logo.svg' />
        </div>
        <div class='title'>
            authoring demo
        </div>
    </div>
</header>
<main class='main-section'>
  <div class='zb-nav-menu'>
      <ul>
        {{#each sections as |section|}}
            <li>{{#link-to 'section' section.number}}{{section.title}}{{/link-to}}</li>
        {{/each}}
      </ul>
  </div>
  {{outlet}}
</main>
